

li{
    list-style: none;
}
.bill{
    margin-left: 2px;
}
.customer{
    margin-left: 20px;
}

@media screen and (min-width: 701px) {
    div#row {
        margin-right: -15px;
        margin-left: 40%;
    }
}
@media screen and (max-width: 600px) {
    div#row {
        margin-right: -15px;
        margin-left: 10%;
    }

}